* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
html {
  font-family: sans-serif;
  scroll-snap-type: y mandatory;
  /*croll-snap-points-y: repeat(100vh);*/
}
section {
    height: 100vh;
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-snap-align: end;
}


section:nth-of-type(1) {
    
    background-image: url('../medias/img10.jpg');
    
  }
  
  section:nth-of-type(2) {
    background-image: url('../medias/img7.jpg');
  }
  
  section:nth-of-type(3) {
    background-image: url('../medias/Dune06.webp');
  }
  
  section:nth-of-type(4) {
    background-image: url('../medias/Dune03.webp');
  }

  section:nth-of-type(1)>div {
    width: 50vw;
    height: calc(50vw * 390 / 640);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
 

  #bandeannonce {
    width: 50vw;
    height: calc(45vw * 390 / 640);
    display: block;
    position: absolute;
    top: 30vh;
    right: 8vw;
  }

  .scroll {
    position: fixed !important;
    width: 25vw !important;
    height: calc(20vw * 3 / 4) !important;
    top: 5vh !important;
    right: 5% !important;
    z-index: 100;
  }

  section:nth-of-type(1)>img {
    height: 8vh;
    margin-left: 12vh ;
    margin-top: 9vh;
  }

  section:nth-of-type(4)>button
{
    width: 30vh;
    height: 8vh;
  display: block;
    margin-top:5vh ;
    margin-left: 50vh ;
  }
  
  section:nth-of-type(4)> h1, p {
    text-align: center;
    margin-bottom: 5vh;
  }
  
  section:nth-of-type(4)> h1 {
    font-size: 4rem;
    color: beige;
  }


   #carte {
    width: 50vw;
    height: 50vh;
    margin-top:10vh ;
    margin-left: 10vh ;
    z-index: 100;
  }
/*/**/
footer{
  width: 5vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer svg {
  width: 4vw;
  height: 4vw;
  padding: 2vh;
  color: white;
}

footer svg:hover{
color:black;
}

footer div{
width: 5vw;
}